<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/styles.css" rel="stylesheet"/>
		<script src="/scripts/page.js"></script>
	</head>
	<body>
		<h1 id="page-header">
			<a href="/" style="color: unset; text-decoration: none;">
				<span class="lang-en">RumyHumy</span>
				<span class="lang-ru">РумуХуму</span>
			</a>
		</h1>
		<div class="page-spotlight">
			<div class="page-content">
				@stuff.index.html@
			</div>
		</div>
		@insert.footer.html@
		<script> PageUpdate(); </script>
	</body>
</html>
